{% extends "base.html" %}

{% block content %}
<div class="large-12 large-centered columns">
	<div class="row">
		<table>
			<thead>
				<tr>
					<th width="1200">Project title</th>
					<th>tickets</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for project in object_list %}
				<tr>
					<td {% if project in my_object_list%}class='mine'{%endif%}>
						<a href="{% url "project-detail" project_id=project.pk %}">
            {{ project.title }} 
            </a>
          </td>
          <td>{{project.tickets.all|length}}</td>
					<td>
						<a href="{% url "project-update" project_id=project.pk %}">
							<i class="fi-pencil"></i>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<p><a href="{% url "project-create" %}" class="button">Create project</a></p>
	</div>
</div>
{% endblock %}
