{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="large-8 large-centered columns">
	<form action="" method="post">
		{% crispy form form.helper "bootstrap" %}
	</form>
</div>
{% endblock %}
